<div class="form-container">
    <app-page-header
    headerText="Create New Account"
    ></app-page-header>
    <form 
    *ngIf="registerForm"
    (ngSubmit)="onSubmit()"
    [formGroup]="registerForm" 
    class="register-form">
        <!-- success message -->
        <div class="info-message" *ngIf="isSuccessful">
        <p>Registration successful. Please <a routerLink="/login">Login</a></p>
        </div>
        <!-- flex rows -->
        <div class="form-group">
            <label class="form-label">First Name</label>
            <input class="form-text-field" type="text" formControlName="firstName">
            <div *ngIf="submitted && f.firstName.errors" class="form-error">
                <div *ngIf="f.firstName.errors.required">First *Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Last Name</label>
            <input class="form-text-field" type="text" formControlName="lastName">
            <div *ngIf="submitted && f.lastName.errors" class="form-error">
                <div *ngIf="f.lastName.errors.required">Last *Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Email</label>
            <input class="form-text-field" type="email" formControlName="email">
            <div *ngIf="submitted && f.email.errors" class="form-error">
                <div *ngIf="f.email.errors.required">*Email is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Password</label>
            <input class="form-text-field" type="password" formControlName="password">
            <div *ngIf="submitted && f.password.errors" class="form-error">
                <div *ngIf="f.password.errors.required">*Password is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Confirm Password</label>
            <input class="form-text-field" type="password" formControlName="confirmPassword">
            <div *ngIf="submitted && f.confirmPassword.errors" class="form-error">
                <div *ngIf="f.confirmPassword.errors.required">*Re-enter the password</div>
                <div *ngIf="f.confirmPassword.errors.confirmValidator">*Passwords don't match</div>
            </div>
        </div>
        
        <div class="form-footer-c">
            <button class="btn">Register</button>
            <a routerLink="/login">Go to Login</a>
        </div>
    </form>
</div>