<div class="form-container">
    <app-page-header
    [headerText]="departmentDesc"
    ></app-page-header>
    <form 
    *ngIf="departmentForm"
    (ngSubmit)="onSubmit()"
    [formGroup]="departmentForm" 
    class="add-form">
        <!-- flex rows -->
        <div class="form-group">
            <label class="form-label">Organization</label>
            <input [attr.disabled]="true" type="text" formControlName="organizationName" class="form-text-field">
        </div>
        <div class="form-group">
            <label class="form-label">Department Owner</label>
            <input class="form-text-field" type="text" formControlName="owner">
            <div *ngIf="submitted && f.owner.errors" class="form-error">
                <div *ngIf="f.owner.errors.required">*Department Owner is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Description</label>
            <input class="form-text-field" type="text" formControlName="description">
            <div *ngIf="submitted && f.description.errors" class="form-error">
                <div *ngIf="f.description.errors.required">*Description is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Working time</label>
            <input class="form-text-field" type="text" formControlName="workingtime">
            <div *ngIf="submitted && f.workingtime.errors" class="form-error">
                <div *ngIf="f.workingtime.errors.required">*Working time is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Working Days</label>
            <input class="form-text-field" type="text" formControlName="workingdays">
            <div *ngIf="submitted && f.workingdays.errors" class="form-error">
                <div *ngIf="f.workingdays.errors.required">*Working Days is required</div>
            </div>
        </div>
        <div class="form-footer">
            <button class="btn">Update</button>
            <button (click)="goBack()" type="button" class="btn btn-red">Back</button>
        </div>
    </form>
</div>