<div class="dashboard-wrapper">
    <app-page-header
    headerText="Dashboard"
    >
    </app-page-header>
    <!-- flex wrap layout for tiles -->
    <div class="dashboard-content">
        <div class="card tile">
            <div class="tile-label">
                Total Organizations
            </div>
            <div class="tile-count">
                {{ ogsCount }}
            </div>
        </div>
        <div class="card tile">
            <div class="tile-label">
                Total Departments
            </div>
            <div class="tile-count">
                {{ dpsCount }}
            </div>
        </div>
        <div class="card tile">
            <div class="tile-label">
                Total Employees
            </div>
            <div class="tile-count">
                {{ empsCount }}
            </div>
        </div>
        <div class="card chart">
            <app-chart></app-chart>
        </div>
    </div>
</div>