.dashboard-content {
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: 250px;
    min-height: 200px;
    height: auto;
    border: 1px solid purple;
    border-radius: 8px;
    margin: 10px 10px;
    box-shadow: 0px 5px 0px 0px purple;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.tile {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
@media screen and (max-width: 800px) {
    .tile {
        width: 100% !important;
    }
}
.tite-label {
    font-size: 1.2rem;
}
.tile-count {
    font-size: 3rem;
    flex-grow: 1;
}
.card:hover {
    transform: translateY(-6px);
}
.chart {
    width: 100%;
    /* height: 500px !important; */
    border: 1px solid purple;
}