<div class="employee-list-wrapper">
    <app-page-header 
    headerText="Employees List"></app-page-header>
    <app-add-button
    domain="employees"
    ></app-add-button>
    <div *ngIf="isEmpty" class="info-message">
        There are no employees to show.
    </div>
    <div *ngIf="!isEmpty" class="list-content">
        <table class="list-table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Organization</th>
                    <th>Department</th>
                    <th>Date of Birth</th>
                    <th>Work Title</th>
                    <th>Total Experience</th>
                    <th>Created on</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of employees; index as i;">
                    <td>
                        {{ i+1 }}
                    </td>
                    <td>
                       {{ e.firstName }}
                    </td>
                    <td>
                        {{ e.lastName }}
                    </td>
                    <td>
                        {{ e.Department.Organization.name }}
                    </td>
                    <td>
                        {{ e.Department.description }}
                    </td>
                    <td>
                        {{ e.dob }}
                    </td> 
                    <td>
                        {{ e.workTitle }}
                    </td> 
                    <td>
                        {{ e.totalExperience }}
                    </td>
                    <td>
                        {{ e.timestamps | date: 'mediumDate' }}
                    </td>
                    <td>
                        <app-edit-button
                        domain="employees"
                        [id]="e.id"
                        ></app-edit-button>
                        <button (click)="delete(e.id, e.firstName)" class="btn btn-red">
                            Delete
                        </button>
                    
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
