<div class="organization-list-wrapper">
    <app-page-header 
    headerText="Organizations List"></app-page-header>
    <app-add-button
    domain="organizations"
    ></app-add-button>
    <div *ngIf="isEmpty" class="info-message">
        There are no organizations to show.
    </div>
    <div *ngIf="!isEmpty" class="list-content">
        <table class="list-table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Owner</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Country</th>
                    <th>Created on</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let o of organizations; index as i;">
                    <td>
                        {{ i+1 }}
                    </td>
                    <td>
                        {{ o.name }}
                    </td>
                    <td>
                        {{ o.owner }}
                    </td>
                    <td>
                        {{ o.address }}
                    </td>
                    <td>
                        {{ o.city }}
                    </td>
                    <td>
                        {{ o.state }}
                    </td>
                    <td>
                        {{ o.country }}
                    </td>
                    <td>
                        {{ o.timestamps | date: 'mediumDate' }}
                    </td>
                    <td>
                        <app-edit-button
                        domain="organizations"
                        [id]="o.id"
                        ></app-edit-button>
                        <button (click)="delete(o.id, o.name)" class="btn btn-red">
                            Delete
                        </button>
                    
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
