@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.wrapper {
    width: 100%;
    position: relative;
}
.sidebar {
    font-family: 'Poppins', sans-serif;
    width: 200px;
    height: 100%;
    background-color: #f0efef;
    position: fixed;
    left: 0;
    top: 0;
    padding: 8px;
}
.logo {
    height: 30px;
    font-family: 'Poppins', sans-serif;
}


@media screen and (max-width: 500px) {
    .sidebar {
        display: none;
    }
    .mobile-nav {
        display: flex;   
        flex-direction: column;
        font-family: inherit;
    }
    .mobile-nav-menus {
        font-family: 'Poppins', sans-serif;
        width: 100%;
        background-color: #f0efef;
        box-shadow: 0px 8px 8px f0efef;
        justify-content: space-between;
    }
    .content {
        margin-left: 0 !important;
    }
}
@media screen and (min-width: 500px) {
    .mobile-nav {
        display: none;
    }
    .mobile-nav-menus {
        display: none;
    }
}
.seperator {
    width: 100%;
    
    border-bottom: 1px solid #000;
}

.content {
    margin-left: 230px;
    font-family: 'Poppins', sans-serif;
}

