<div class="wrapper">
  <div class="mobile-nav">
    <div class="logo">
      Full stack test
    </div> 
    <div class="expand-button">

    </div>
    <app-sidebar-menu class="mobile-nav-menus"></app-sidebar-menu>
  </div>
  <div class="sidebar">
    <div class="logo">
      Fullstack test
    </div>
    <div class="seperator"></div>
    <app-sidebar-menu></app-sidebar-menu>
    
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>