<div class="form-container">
    <app-page-header
    [headerText]="employeeFirstName"
    ></app-page-header>
    <form 
    *ngIf="employeeForm"
    (ngSubmit)="onSubmit()"
    [formGroup]="employeeForm" 
    class="add-form">
        <!-- flex rows -->
        <div class="form-group">
            <label class="form-label">Organization</label>
            <input [attr.disabled]="true" formControlName="organizationName" type="text" class="form-text-field">
        </div>
         <div class="form-group">
            <label class="form-label">Departments</label>
            <select formControlName="DepartmentId" class="form-text-field">
                <option *ngFor="let d of departments" [value]="d.id">
                    {{ d.description }}
                </option>
            </select>
            <div *ngIf="submitted && f.DepartmentId.errors" class="form-error">
                <div *ngIf="f.DepartmentId.errors.required">*Department is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">First Name</label>
            <input class="form-text-field" type="text" formControlName="firstName">
            <div *ngIf="submitted && f.firstName.errors" class="form-error">
                <div *ngIf="f.firstName.errors.required">*First Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Last Name</label>
            <input class="form-text-field" type="text" formControlName="lastName">
            <div *ngIf="submitted && f.lastName.errors" class="form-error">
                <div *ngIf="f.lastName.errors.required">*Last Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Date of Birth</label>
            <input class="form-text-field" type="date" formControlName="dob">
            <div *ngIf="submitted && f.dob.errors" class="form-error">
                <div *ngIf="f.dob.errors.required">*Date of Birth is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Work Title</label>
            <input class="form-text-field" type="text" formControlName="workTitle">
            <div *ngIf="submitted && f.workTitle.errors" class="form-error">
                <div *ngIf="f.workTitle.errors.required">*Work Title is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Total Experience</label>
            <input class="form-text-field" type="text" formControlName="totalExperience">
            <div *ngIf="submitted && f.totalExperience.errors" class="form-error">
                <div *ngIf="f.totalExperience.errors.required">*Total Experience is required</div>
            </div>
        </div>
        <div class="form-footer">
            <button class="btn">Update</button>
            <button (click)="goBack()" type="button" class="btn btn-red">Back</button>
        </div>
    </form>
</div>
