.add-button {
    height: 40px;
    width: 80px;
    outline: none;
    margin: 8px 0px;
    cursor: pointer;
    background: none;
    border: 1px solid purple;
    border-radius: 3px;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.add-button:hover {
    background-color: purple;
    color: white;
}