<div class="chartCanvas">
    <canvas #chartCanvas style="width: 100%; "></canvas>
    <div class="controls-container">
        <div class="left">
            <input class="form-text-field" type="date" [formControl]="dateFrom" value="09/20/2020">
            <input class="form-text-field" type="date" [formControl]="dateTo">
            <button class="btn change-date-btn" (click)="get1MData()">Change Date</button>
        </div>
        <div class="right">
            <button class="btn" (click)="get1MData()">1M</button>
            <button class="btn btn-red" (click)="get1YData()">1Y</button>
        </div>
    </div>

</div>