<div class="form-container">
    <app-page-header
    [headerText]="organizationName"
    ></app-page-header>
    <form 
    *ngIf="organizationForm"
    (ngSubmit)="onSubmit()"
    [formGroup]="organizationForm" 
    class="add-form">
        <!-- flex rows -->
        <div class="form-group">
            <label class="form-label">Name</label>
            <input class="form-text-field" type="text" formControlName="name">
            <div *ngIf="submitted && f.name.errors" class="form-error">
                <div *ngIf="f.name.errors.required">*Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Owner</label>
            <input class="form-text-field" type="text" formControlName="owner">
            <div *ngIf="submitted && f.owner.errors" class="form-error">
                <div *ngIf="f.owner.errors.required">*Owner is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Address</label>
            <input class="form-text-field" type="text" formControlName="address">
            <div *ngIf="submitted && f.address.errors" class="form-error">
                <div *ngIf="f.address.errors.required">*Address is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">City</label>
            <input class="form-text-field" type="text" formControlName="city">
            <div *ngIf="submitted && f.city.errors" class="form-error">
                <div *ngIf="f.city.errors.required">*City is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">State</label>
            <input class="form-text-field" type="text" formControlName="state">
            <div *ngIf="submitted && f.state.errors" class="form-error">
                <div *ngIf="f.state.errors.required">*State is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Country</label>
            <input class="form-text-field" type="text" formControlName="country">
            <div *ngIf="submitted && f.country.errors" class="form-error">
                <div *ngIf="f.country.errors.required">*Country is required</div>
            </div>
        </div>
        <div class="form-footer">
            <button class="btn">Submit</button>
            <button (click)="goBack()" type="button" class="btn btn-red">Back</button>
        </div>
    </form>
</div>