* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.form-container {
    width: 80%;
}
.info-message {
    margin-bottom: 10px;
    color: purple;
    background-color: white;
    min-height: 40px;
    padding: 8px;
    border: 1px solid rgb(248, 246, 246);
    border-radius: 7px;
    box-shadow: 0px 5px 5px #ddd;
    width: 70%;
    text-align: center;
}
.btn {
    height: 40px;
    width: 80px;
    outline: none;
    margin: 8px 3px;
    cursor: pointer;
    background: none;
    border: 1px solid purple;
    border-radius: 3px;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.btn-red {
    border: 1px solid rgb(179, 15, 15);
}
.btn-red:hover {
    background-color: rgb(179, 15, 15) !important;
}
.btn:hover {
    background-color: purple;
    color: white;
}
.form-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.form-label {
    display: block;
    min-width: 20%;
    width: auto;
}
.form-text-field {
    font-family: 'Poppins', sans-serif;
    flex-grow: 1;
    background-color: #f0efef;
    border: none;
    outline: none;
    border-bottom: 1px solid purple;
}
.form-text-field:focus {
    border-bottom: 3px solid purple;
}
.form-footer-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-footer {
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 700px) {
    .form-text-field {
        width: 100%;
    }
    .form-container {
        width: 100%;
    }
    .form-label {
        width: 100%;
    }
    .form-error {
        margin-left: 0 !important;
    }
}
.list-content {
    overflow-x: auto;
}
.list-table {
    width: 100%;
    border-collapse: collapse;
}
.list-table td, th {
    border: 1px solid #ddd;
    text-align: center;
}
.add-form {
    margin-top: 30px;
}
.form-error {
    width: 100%;
    margin-left: 20%;
    color: red;
    font-size: 0.8rem;
}