<div class="department-list-wrapper">
    <app-page-header 
    headerText="Departments List"></app-page-header>
    <app-add-button
    domain="departments"
    ></app-add-button>
    <div *ngIf="isEmpty" class="info-message">
        There are no departments to show.
    </div>
    <div *ngIf="!isEmpty" class="list-content">
        <table class="list-table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Organization</th>
                    <th>Department Owner</th>
                    <th>Description</th>
                    <th>Working Time</th>
                    <th>Working Days</th>
                    <th>Created on</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of departments; index as i;">
                    <td>
                        {{ i+1 }}
                    </td>
                    <td>
                       {{ d.Organization.name }}
                    </td>
                    <td>
                        {{ d.owner }}
                    </td>
                    <td>
                        {{ d.description }}
                    </td>
                    <td>
                        {{ d.workingtime }}
                    </td>
                    <td>
                        {{ d.workingdays }}
                    </td>
                    <td>
                        {{ d.timestamps | date: 'mediumDate' }}
                    </td>
                    <td>
                        <app-edit-button
                        domain="departments"
                        [id]="d.id"
                        ></app-edit-button>
                        <button (click)="delete(d.id, d.description)" class="btn btn-red">
                            Delete
                        </button>
                    
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
