<div class="form-container">
    <app-page-header
    headerText="Login"
    ></app-page-header>
    <form 
    *ngIf="loginForm"
    (ngSubmit)="onSubmit()"
    [formGroup]="loginForm" 
    class="login-form">
        <!-- error message -->
        <div class="login-error" *ngIf="loginError">
            <p>{{ loginError }}, please try again.</p>
        </div>
        <!-- flex rows -->
        <div class="form-group">
            <label class="form-label">Email</label>
            <input class="form-text-field" type="email" formControlName="email">
            <div *ngIf="submitted && f.email.errors" class="form-error">
                <div *ngIf="f.email.errors.required">*Email is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Password</label>
            <input class="form-text-field" type="password" formControlName="password">
            <div *ngIf="submitted && f.password.errors" class="form-error">
                <div *ngIf="f.password.errors.required">*Password is required</div>
            </div>
        </div>
        
        <div class="form-footer-c">
            <button class="btn">Login</button>
            <a routerLink="/register">Go to Register</a>
        </div>
    </form>
</div>