<ul class="menus">
    <ng-container *ngIf="showMenus">
      <li *ngIf="name" class="menu-item user-info">
        Logged in as {{ name }}
      </li>
      <li class="menu-item">
        <a class="navLink" routerLink="/">Dashboard</a>
      </li>
      <li class="menu-item">
        <a class="navLink" routerLink="/organizations">Organizations</a>
      </li>
      <li class="menu-item">
        <a class="navLink" routerLink="/departments">Departments</a>
      </li>
      <li class="menu-item">
        <a class="navLink" routerLink="/employees">Employees</a>
      </li>
      <li class="menu-item">
        <a class="navLink logout" (click)="logout()">Logout</a>
      </li>

    </ng-container>
    <ng-container *ngIf="!showMenus">
      <p>Please Log in.</p>
    </ng-container>
  </ul>
