.menus > li {

    list-style: none;
    margin-top: 8px;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0px 3px 2px rgb(197, 194, 194);
}
.menus > li:hover {
    box-shadow: 0px 6px 5px rgb(197, 194, 194);
}
.user-info {
    padding: 8px !important;
    pointer-events: none;
    border-bottom: 3px solid rgba(0, 100, 100, 0.5);
}
.logout {
    color: red !important;
}
.navLink {    
    color: purple;
    text-decoration: none;
    display: block;
    padding: 8px;
}
.navLink:active {
    color: purple;
}