<div class="form-container">
    <app-page-header
    headerText="Add New Department"
    ></app-page-header>
    <div *ngIf="message" class="info-message">
        {{ message }}
    </div>
    <form 
    (ngSubmit)="onSubmit()"
    [formGroup]="departmentForm" 
    class="add-form">
        <!-- flex rows -->

        <div class="form-group">
            <label class="form-label">Owner</label>
            <input #focusInput class="form-text-field" type="text" formControlName="owner">
            <div *ngIf="submitted && f.owner.errors" class="form-error">
                <div *ngIf="f.owner.errors.required">*Department Owner is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Organization</label>
            <select formControlName="OrganizationId" class="form-text-field">
                <option value="">--Choose One--</option>
                <option *ngFor="let o of organizations" [value]="o.id">
                    {{ o.name }}
                </option>
            </select>
            <div *ngIf="submitted && f.OrganizationId.errors" class="form-error">
                <div *ngIf="f.OrganizationId.errors.required">*Organization is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Description</label>
            <input class="form-text-field" type="text" formControlName="description">
            <div *ngIf="submitted && f.description.errors" class="form-error">
                <div *ngIf="f.description.errors.required">*Description is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Working time</label>
            <input class="form-text-field" type="text" formControlName="workingtime">
            <div *ngIf="submitted && f.workingtime.errors" class="form-error">
                <div *ngIf="f.workingtime.errors.required">*Working time is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Working Days</label>
            <input class="form-text-field" type="text" formControlName="workingdays">
            <div *ngIf="submitted && f.workingdays.errors" class="form-error">
                <div *ngIf="f.workingdays.errors.required">*Working Day is required</div>
            </div>
        </div>
        <div class="form-footer">
            <button class="btn">Submit</button>
            <button (click)="goBack()" type="button" class="btn btn-red">Back</button>
        </div>
    </form>
</div>